version: "3"

services:

  # NGINX
  nginx: 
    image: nginx:latest
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
    ports: 
      - 80:80

  # Backend Services
  auth_service:
    build: ./backend/auth_service
    environment:
      - PORT=3000
    volumes:
      - ./backend/auth_service:/app

  # Frontend Apps
  webapp:
    build: ./frontend/web
    environment:
      - PORT=3000
    volumes:
      - ./frontend/web:/app
